:root {
   --font-color: #685f5d;
   --border-color: #405772;
   --shadow-color: #405772;
}

html,body {
     width:100%;
     
}

body {
   font-family: 'Lato', sans-serif;
   font-size: 100%;
   /*background-color:#ece9e4;*/
   background-image:url(https://trianglify.io/p/w:1440!h:900!x:fef0a7.fdca5b.60c9c2.0e757a.c3b8b4.c3b8b4!v:0.37!c:0.04!s:sxckvj); 
}

canvas {

   height:100%;
   width:100%;
   position: fixed;
   z-index:0;
   top:0;
   left:0;
   
}

header {
     
     background-color:#fff;
     padding-left:10px;
     width:55%;
     position:fixed;
     height:10vh;
     border-bottom:3px solid;
     transition:.4s linear;
     transform:rotate(0deg);
     transform-origin: top left;
     
     z-index:10;
       
}

h1 {
     
     font-family: 'Raleway', sans-serif;
     font-size: calc(1.1rem + 1.5vw);
     font-weight: 900;
     color:var(--font-color);
     
}

h2 {
     
     font-family: 'Lato', sans-serif;
     font-size: calc(1.1rem + 1vw);
     font-weight: 900;
     color:var(--font-color);
     
}

a {
   font-weight:800;
}

pre {
   overflow:scroll;
}

img {
   width:100%;
}

a:hover{
          
     background-color:rgba(237,104,104,.5);
          
}


.section.shadow {
     
   border-radius: 3px 3px 3px 3px;
   background-color:#fff;
   border: 2px solid #563222;     
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   border-radius: 5px;
   -webkit-transition: background 0.3s ease;
   -moz-transition: background 0.3s ease;
   -ms-transition: background 0.3s ease;
   transition: background 0.3s ease;
   -webkit-box-shadow: 4px 4px 0 var(--shadow-color);
   -moz-box-shadow: 4px 4px 0 var(--shadow-color);
   -ms-box-shadow: 4px 4px 0 var(--shadow-color);
   box-shadow: 4px 4px 0 var(--shadow-color);
   
}

.animate {
     
     transition:.4s linear;
     transform:rotate(90deg);
     transform-origin: top left;
     width:100%;
     
}

.wrapper {
     
     display: block;
     height:100%;
     margin:0 auto;
     width:55%;

}

.content {
     
     display: block;
     margin-left:10px;
     height:100%;
     position: relative;
     top:12vh;
     z-index:1;
     
}
/*
     .content:before {
          
          display: inline-block;
        
          content: " ";
          height: 100%;
          left: -20px;
          position: absolute;
          top: 0;
          width: 20px;     
  
     }

     .content:after {
          
          display: inline-block;
         
          content: " ";
          height: 100%;
          right: -20px;
          position: absolute;
          top: 0;
          width: 20px;     
  
     }
*/     

     .section {
          
          padding-left:10px;
          padding-right:10px;
          margin-bottom:20px;
          
     }
     
     .indent {
          
          padding-left:40px;
          
     }
     
  