

.timeline {
     
     position:fixed;
     top:0;
     right:2vw;

     max-width:33%;
     min-height:100%;
     padding-right:20px;
     z-index:2;

}

.timeline-item {
   
   cursor: pointer;
   
   padding: 5px 15px 5px 15px;
   border-radius: 3px 3px 3px 3px;
   margin-top:20px;

   background: transparent;
   
   color: #fffbfa;
   position: relative;
   text-transform: uppercase;
   font-size: 1vw;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   border-radius: 5px;
   -webkit-transition: background 0.3s ease;
   -moz-transition: background 0.3s ease;
   -ms-transition: background 0.3s ease;
   transition: background 0.3s ease;
   
   /*
   border: 2px solid var(--border-color);
   
   -webkit-box-shadow: 3px 3px 0 var(--shadow-color);
   -moz-box-shadow: 3px 3px 0 var(--shadow-color);
   -ms-box-shadow: 3px 3px 0 var(--shadow-color);
   box-shadow: 3px 3px 0 var(--shadow-color);
   */
   
}

.small {
   margin-left:20px;
}


.timeline > .active {
   
   color:#114B5F;
   background: #fff;
   font-weight: 900;

}

.timeline-item:hover {
   color:#fffbfa;
   background-color:#563222;
   font-weight: 900;
   box-shadow: none;
   top: 2px;
   left: 2px;   
   -webkit-box-shadow: 2px 2px 0 transparent;
   -moz-box-shadow: 2px 2px 0 transparent;
   -ms-box-shadow: 2px 2px 0 transparent;
   box-shadow: 2px 2px 0 transparent;
}

/*
.timeline-item:hover {
   color:#114B5F;
   background: transparent;
   box-shadow: none;
   top: 2px;
   left: 2px;   
   -webkit-box-shadow: 2px 2px 0 transparent;
   -moz-box-shadow: 2px 2px 0 transparent;
   -ms-box-shadow: 2px 2px 0 transparent;
   box-shadow: 2px 2px 0 transparent;   
}*/

